.gradle/
/build/
/app/build/
/.idea/
/.gradle/
local.properties
/.gradle/
/.idea/
**/build/
*.iml
/.cxx/
/.externalNativeBuild/

# Ignore signing and keystore artifacts generated or stored locally
signing/
*.jks
*.base64

